@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/theme/fonts/OpenSans.eot);
    src: local("Open Sans"), local("OpenSans"), url(/theme/fonts/OpenSans.eot?#iefix) format("embedded-opentype"), url(/theme/fonts/OpenSans.woff) format("woff"), url(/theme/fonts/OpenSans.ttf) format("truetype"), url(/theme/fonts/OpenSans.svg#OpenSans) format("truetype")
    }
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    src: url(/theme/fonts/SourceCodePro-Regular.eot);
    src: local("Source Code Pro"), local("SourceCodePro-Regular"), url(/theme/fonts/SourceCodePro-Regular.eot?#iefix) format("embedded-opentype"), url(/theme/fonts/SourceCodePro-Regular.woff) format("woff"), url(/theme/fonts/SourceCodePro-Regular.ttf) format("truetype"), url(/theme/fonts/SourceCodePro-Regular.svg#SourceCodePro-Regular) format("truetype")
    }
@font-face {
    font-family: "Vollkorn";
    font-style: normal;
    font-weight: 400;
    src: url(/theme/fonts/Vollkorn-Regular.eot);
    src: local("Vollkorn Regular"), local("Vollkorn-Regular"), url(/theme/fonts/Vollkorn-Regular.eot?#iefix) format("embedded-opentype"), url(/theme/fonts/Vollkorn-Regular.woff) format("woff"), url(/theme/fonts/Vollkorn-Regular.ttf) format("truetype"), url(/theme/fonts/Vollkorn-Regular.svg#Vollkorn-Regular) format("truetype")
    }