{% extends "base.html" %}

{% block content %}

<article class="content typo">
  <header>
    <h1 class="posttitle">
      <a class="nodec" href="/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
        {{ article.title }}
      </a>
    </h1>
    <div class="post-info">
      <p class="published" title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
      </p>
    </div>
  </header>

  <div class="article">
    {{ article.content }}
  </div><!-- .content -->

</article>

{% if DISQUS_SITENAME %}
  {% include "disqus.html" %}
{% endif %}

{% endblock %}
