<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie8" lang="{{ DEFAULT_LANG }}">
<![endif]-->
<!--[if !(IE 8) ]><!-->
<html lang="{{ DEFAULT_LANG }}"><!--<![endif]-->
  <head>
    {% block headers %}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{{ SITENAME }}{%endblock title%}</title>
      {% if FEED_ALL_ATOM %}
        <link rel ="alternate" type="application/atom+xml"
                               title="{{ SITENAME }} — Flux RSS"
                               href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" />
      {% endif %}
      <link rel="stylesheet" id="graphy-fonts-css" href="http://fonts.useso.com/css?family=Lato:400,700,400italic,700italic|Bitter:400&amp;subset=latin,latin-ext" type="text/css" media="all">
      <link rel="stylesheet" id="graphy-genericons-css" href="{{ CDN_URL }}/theme/css/genericons.css" type="text/css" media="all">
      <link rel="stylesheet" href="{{ CDN_URL }}/theme/css/style.min.css?{{TIMESTAMP}}">
      <link rel="stylesheet" href="{{ CDN_URL }}/theme/css/typo.css?{{TIMESTAMP}}" type="text/css" media="all">
      {% block extra_css %}{% endblock %}
    {% endblock headers %}
  </head>


  <body class="home blog no-sidebar footer-0 has-avatars">
    <div id="page" class="hfeed site">
      <header id="masthead" class="site-header" role="banner">
        <div class="site-branding">
          <h1 class="site-title"><a href="/" rel="home">{{ SITENAME }}</a></h1>
          <div class="site-description">{{ SITE_DESCRIPTION }}</div>
        </div>

        <div class="main-navigation-wrapper">
          <nav id="site-navigation" class="main-navigation" role="navigation">
            <h1 class="menu-toggle">Menu</h1>
            <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
            <div class="menu">
              <ul>
                <li class="current_page_item">
                  <a href="{{ SITE_URL }}/">Home</a>
                </li>
                {% if DISPLAY_PAGES_ON_MENU %}
                  {% for page in PAGES %}
                    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                  {% endfor %}
                {% endif %}
                {% for linkname, linkrul in LINKS %}
                  <li><a href="{{ linkrul }}">{{ linkname }}</a></li>
                {% endfor %}
                <li class="page_item page_item_has_children">
                  <a href="#">Categories</a>
                  <ul class="children">
                    {% for category , articles in categories %}
                      <li class="page_item">
                        <a href="{{ SITE_URL }}/{{category.url}}">{{category}}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="page_item">
                  <a href="{{ SITE_URL }}/tags.html">Tags</a>
                </li>
                <li class="page_item page_item_has_children">
                  <a href="#">Social</a>
                  <ul class="children">
                    {% for linkname , linkrul in SOCIAL %}
                      <li class="page_item">
                        <a href="{{ linkrul }}">{{ linkname }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
                {% if FEED_ALL_ATOM %}
                  <li class="page_item">
                    <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" rel="alternate">Feed</a>
                  </li>
                {% endif %}
              </ul>
            </div><!-- .menu -->
            <form role="search" method="get" class="search-form" onsubmit="return google_search()">
            <label>
              <span class="screen-reader-text">Search for:</span>
              <input type="search" class="search-field" placeholder="Search …" value="" name="q" id="google_q" title="Search for:">
            </label>
            <input type="submit" class="search-submit" value="Search">
          </form>
          </nav><!-- #site-navigation -->
        </div>
      </header><!-- #masthead -->

      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">
            {% block content %}{% endblock content %}
          </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- #content -->

      <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info">
          <div class="site-copyright">© {{CURRENT_DATETIME|strftime('%Y')}} <a href="{{SITEURL}}" rel="home">{{SITENAME}}</a></div>
          <div class="site-credit">Powered by <a href="http://blog.getpelican.com/">Pelican</a> &amp;
          <a href="http://wordpress.org/themes/graphy">Graphy</a>, hosted on <a href="https://github.com/">GitHub</a>.</div>
        </div><!-- .site-info -->
      </footer><!-- #colophon -->

    </div><!-- #page -->

  <script type="text/javascript" src="{{ CDN_URL }}/theme/js/navigation.js?{{TIMESTAMP}}"></script>
  <script type="text/javascript" src="{{ CDN_URL }}/theme/js/skip-link-focus-fix.js?{{TIMESTAMP}}"></script>
  <script type="text/javascript" src="{{ CDN_URL }}/theme/js/google-search.js?{{TIMESTAMP}}"></script>
  {% block extra_js %}{% endblock %}
  {% include 'analytics.html' %}
  </body>
</html>
