<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

  <head>
    {% block head %}
      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
      {# note: Since Google Font is blocked in China. I am using a tool: fontdump, to
         dump the css and fonts to my local directory.
         The original
        <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans|Vollkorn' rel='stylesheet' type='text/css'>

      #}
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/webfonts.css"/>
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/font-awesome.min.css"/>
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/typo.css"/>
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygment.css"/>
      {% assets filters="less", output="css/styles.min.css", "css/styles.less" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
      {% endassets %}

      <meta charset="utf-8" />
      {% if FEED_ATOM %}
        <link href="/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
      {% endif %}
      {% if FEED_RSS %}
        <link href="/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
      {% endif %}
    {% endblock head %}
  </head>

  <body>
    <!-- header -->
    <header class="siteheader">
      <!-- site image -->
      {% if PROFILE_IMAGE_URL %}
        <div class= "siteimage">
          <a class="nodec" href={{ PROFILE_IMAGE_URL }}>
            <img width="200" height="200" src={{ PROFILE_IMAGE_URL }}>
          </a>
        </div>
      {% endif %}
      <div class="sitelogo">  
      </div>
      <div class = "site-banner">
        <h1 lang="en"><a class="site-name-en nodec" href="{{ SITEURL }}">{{ SITE_ENGLISH_NAME }}</a></h1>
        <h1 lang="zh" class ="site-name-ch">{{ SITE_CHINESE_NAME }}</h1>
        <div class="site-quote">
          <blockquote>
            <p>穷发之北有冥海者，天池也。有鱼焉，其广数千里，未有知其修者，其名为鲲。有鸟焉，其名为鹏。背若泰山，翼若垂天之云。抟扶摇羊角而上者九万里，绝云气，负青天，然后图南，且适南冥也。</p>
            <p class="right-quote">《庄子·内篇·逍遥游第一》</p>
          </blockquote>
        </div>
        <!-- nav -->
        <nav class="menu">
          <ul>
            <!-- menu items-->
            {% for title, link in MENUITEMS %}
              <li><a class="nodec" href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            <!--pages-->
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in PAGES %}
                <li{% if p == page %} class="active"{% endif %}><a class="nodec" href="{{ SITEURL }}/{{ p.url }}">{{ p.title|lower }}</a></li>
              {% endfor %}
            {% endif %}
            {% if SOCIAL %}
              {% for name, link in SOCIAL %}
                <li><a class="nodec fa fa-3 fa-{{name|lower}}" href="{{ link }}"></a></li>
              {% endfor %}
            {% endif %}
            {% if FEED_ALL_ATOM %}
              <li><a class="nodec fa-rss" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"></a></li>
            {% endif %}
          </ul>
        </nav>
      </div> <!-- sitebanner -->
    </header>

    <!-- content -->
    {% block content %}
    {% endblock %}

    <!-- footer -->
    <footer>
      <p>
        © Copyright {{ CURRENT_DATETIME|strftime('%Y') }} by {{ AUTHOR }}.
      </p>
    </footer>
    <script type="text/javascript">
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff31dbac3b42716c990b2aa5651027fce' type='text/javascript'%3E%3C/script%3E"));
    </script>
  </body>
</html>