{% extends "base.html" %}
{% set active_page = "blog" %}

{% block content %}

<content class="content">

  <ul id="post-list">

    {% for article in articles_page.object_list %}
    <li class="post">
      <div class="post-info">
        <p class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </p>
      </div>
      <div class="post-details">
        <h3>
          <a href="{{ SITEURL }}/{{ article.url }}"
             rel="bookmark"
             class="nodec"
             title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h3>
        <div class="postsummary"> {{ article.summary }} </div>
      </div>
    </li>
    {% endfor %}

  </ul><!-- /#post-list -->

  {% include 'pagination.html' %}

</content><!-- /#content -->

{% endblock content %}
