{% extends "base.html" %}

{% block content %}

<content class="homepage content">
  <div>
    {{page.content}}
  </div>
  <div>
    <h2>Latest Updates</h2>
    <ul>
      {% for article in articles[:5] %}
        <li>
          <span> {{ article.locale_date }}</span>
           - 
          <a href="{{ SITEURL }}/{{ article.url }}"
             rel="bookmark"
             class="nodec"
             title="{{ article.title|striptags }}">{{ article.title }}</a>
        </li>
      {% endfor %} 
    </ul>
  </div>
</content><!-- /#content -->

{% endblock content %}
