{% extends "base.html" %}

{% block extra_js %}
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
  <script type="text/javascript" src="{{ CDN_URL }}/theme/js/jquery.tagcanvas.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      if(!$('#cloudCanvas').tagcanvas({
        textColour: '#263238',
        outlineThickness : 1,
        maxSpeed : 0.03,
        weight: true,
        weightFrom: 'data-weight',
        weightSize: 15,
        depth : 0.75
      })) {
        // TagCanvas failed to load
        $('#tagcloud').hide();
      }
    });
  </script>
{% endblock %}

{% block content %}
  <div id="tagcloud">
    <canvas width="600" height="600" id="cloudCanvas">
      <ul>
      {% for tag , articles in tags %}
        <li><a data-weight="{{articles|length}}" href="{{ SITE_URL }}/{{tag.url}}">{{tag}}</a>/li>
      {% endfor %}
      </ul>
    </canvas>
  </div>
{% endblock %}
